.player{
    position: absolute;
    left: 300px;
    bottom: 259px;
}

@media screen and (max-width:768px){
    .player{
        position: absolute;
        left: 40px;
        top: 300px;
        max-width: 300px;
    }
}